<% const moneyFormatter = new Intl.NumberFormat('en-UK', {
minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>

<div class="d-flex min-vh-100 min-vw-100 flex-column">
  <%- include("partials/navbar.ejs") %>
  <main
    class="flex-grow-1 min-vw-100 d-flex align-items-stretch"
    style="overflow-x: auto"
  >
    <% for (const account of accounts) { %>
    <div class="flex-grow-1 d-flex flex-column">
      <div class="p-3 bg-light border">
        <div class="d-inline-flex gap-3 justify-content-between">
          <strong><%- account.name %></strong>
          <span class="text-muted"><%- account._id %></span>
          <span class="text-muted"
            ><%- account.sortCode.match(/.{1,2}/g).join("-") %></span
          >
        </div>
        <div>
          <h1>£<%- moneyFormatter.format(account.money) %></h1>
          <a
            class="btn btn-primary"
            href="/transaction/<%-account.sortCode%>/<%-account._id%>"
            >move money</a
          >
        </div>
      </div>
      <div class="flex-grow-1 border w-100">
        <table class="w-100 table table-striped">
          <% for (const transaction of transactions[account._id].reverse()) { %>
          <tr>
            <% if (transaction.sender._id == account._id) { %>
            <td><%- transaction.recipient.name %></td>
            <td class="text-muted"><%- transaction.reference %></td>
            <td class="text-danger">
              - £<%- moneyFormatter.format(transaction.amountSent) %>
            </td>
            <% } else { %>
            <td><%- transaction.sender.name %></td>
            <td class="text-muted"><%- transaction.reference %></td>
            <td class="text-success">
              + £<%- moneyFormatter.format(transaction.amountSent) %>
            </td>
            <% } %>
          </tr>
          <% } %>
        </table>
      </div>
    </div>
    <% } %>
  </main>
</div>
