<nav>
    <a href="/dashboard"><img src="/images/logo.jpg" alt="logo"></a>
</nav>

<h1>Personal Details</h1>
<a href="/dashboard">Back</a>
<div class="form-group container-sm">
    <form method="post" action="/settings">
        <strong>Home Address</strong>
        <input class="form-control" type="text" name="addressLine1" placeholder="address line 1"  required
            value="<%- userInfo.address.line1 %>">
        <input class="form-control" type="text" name="addressLine2" placeholder="address line 2" 
            value="<% userInfo.address.line2 %>">
        <p class="data-display"><%- userInfo.address.line1 %></p>
        <p class="data-display"><%- userInfo.address.line2 %></p>

        <strong>City</strong>
        <input class="form-control" type="text" name="city" 
            value="<%- userInfo.address.city %>">
        <p class="data-display"><%- userInfo.address.city %></p>


        <strong>County / Province</strong>
        <input class="form-control" type="text" name="county"            
            value="<%- userInfo.address.county %>">
        <p class="data-display"><%- userInfo.address.county %></p>


        <strong>Post Code</strong>
        <input class="form-control" type="text" name="postCode"  required            
            value="<%- userInfo.address.postCode %>">
        <p class="data-display"><%- userInfo.address.postCode %></p>


        <strong>Country</strong>
        <input class="form-control" type="text" name="country"  required
            value="<%- userInfo.address.country %>">
        <p class="data-display"><%- userInfo.address.country %></p>

        <strong>Phone Number</strong>
        <input class="form-control" type="text" name="phoneNumber"  required            
            value="<%- userInfo.phoneNumber %>">
        <p class="data-display"><%- userInfo.phoneNumber %></p>

        <strong>Email Address</strong>
        <input class="form-control" type="text" name="email"  required 
            value="<%- userInfo.email %>">
        <p class="data-display"><%- userInfo.email %></p>

        <button class="btn btn-primary" id="toggleForm">Edit</button>

        <input class="btn btn-primary" type="submit" id="updateDetails">
    </form>
</div>

<script src="/js/interactiveSettings.js"></script>

