<%- include("partials/navbar.ejs") %>
<h1 class="p-5 text-center bg-body-tertiary">Send money to someone new</h1>
<div class="form-group container-md">
  <h1>Transaction</h1>
  <form method="post" action="/transaction">
    <strong>Recipients Full Name: </strong>
    <input
      class="form-control mb-2"
      type="text"
      maxlength="50"
      name="fullName"
      placeholder="Full name"
      value="<%- recipientName %>"
      required
    />

    <strong>Recipients Account number: </strong>
    <input
      class="form-control mb-2"
      type="text"
      name="accountNumber"
      placeholder="account-number"
      value="<%- recipientAccountNumber %>"
      required
    />

    <strong>Recipients Sort-code: </strong>
    <input
      class="form-control mb-2"
      type="text"
      name="sortCode"
      placeholder="sort-code"
      value="<%- recipientSortCode %>"
      required
    />

    <strong>Enter Amount: </strong>
    <input
      class="form-control mb-2"
      type="number"
      min="0"
      step="0.1"
      name="amount"
      placeholder="£0.00"
      required
    />

    <strong>Ref: </strong>
    <input class="form-control mb-2" type="text" name="reference" />

    <input type="hidden" name="sourceSortCode" value="<%- sourceSortCode %>" />
    <input
      type="hidden"
      name="sourceAccountNumber"
      value="<%- sourceAccountNumber %>"
    />

    <input class="btn btn-primary" type="submit" value="send money" />
  </form>
</div>
<h1 class="p-5 text-center bg-body-tertiary">Send money to someone you have payed before</h1>
<table class="container table">
    <thead>
        <tr>
            <th>Name</th>
            <th>sort-code</th>
            <th>account-number</th>
            <th>send money</th>
        </tr>
    </thead>
    <tbody>
        <% for(let item of payedBefore){ %>
            <tr>
                <td><%- item.name %></td>
                <td><%- item.sortCode %></td>
                <td><%- item.accountNumber %></td>
                <td><a class="btn btn-primary" href="/transaction/<%- sourceSortCode %>/<%- sourceAccountNumber %>?destSortCode=<%- item.sortCode %>&destAccountNumber=<%- item.accountNumber %>&recipientName=<%- item.name %>">send money</a></td>
            </tr>
        <% } %>
    </tbody>
</table>